/node_modules
/nose/node_modules
/nose1/node_modules
/backstage/node_modules
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?