.inner-header-wrapper {
  padding: 0 40px;
  margin: 0 auto;
  height: 120px;
  min-height: 120px;
  max-width: 1280px;

  .log {
    height: 100%;
    line-height: 120px;

    .log-img-box {
      min-height: 50px;

      .log-img {
        max-height: 60px;
      }
    }

  }

  .nav-list-box {
    display: flex;
    align-items: center;

    .nav-box {
      list-style: none;
      padding: 0;
      margin: 0;

      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%,-50%);
      &::after {
        content: "";
        display: block;
        clear: both;
      }

      .nav-item {
        height: 60px;
        float: left;
        text-align: center;
        display: flex;
        align-items: center;
        margin-right: 5px;
        margin-left: 5px;

        a {
          color: #333;
          display: block;
          width: 100%;
          // height: 100%;
          max-height: 60px;
          min-width: 80px;
          text-align: center;
          font-size: 15px;
          padding: 2px 10px 3px 12px;
          box-sizing: content-box;

          &.nav-action,
          &:hover {
            background-color: #a0ce4e;

            p {
              color: #fff;

              &:nth-of-type(2) {
                color: #fff;
              }
            }
          }

          p {
            margin: 0;
            line-height: 2em;
            color: #4c4c4c;

            &:nth-of-type(2) {
              color: #9b9b9b;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .search-box {
    .ant-input-search {
      .ant-input-wrapper.ant-input-group {
        .ant-input-group-addon {
          background-color: transparent;
          border: none;
          bottom: 1px;
        }
      }

    }

    .userinfo-box{
      
    }

    input {
      background-color: transparent;   
      border-bottom: 1px solid #999999;
      &:focus {
        border: none;
        outline: none;
      }
    }
    button {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #999999;
    }
  }
}

@media screen and (max-width: 768px) {
  .inner-header-wrapper {
    height: 75px;
    min-height: 75px;

    .log {
      line-height: 75px;
      position: relative;

      .log-img-box {
        .log-img {
          max-width: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .inner-header-wrapper {
    height: 75px;
    min-height: 75px;

    .log {
      line-height: 75px;

      .log-img-box {
        .log-img {
          max-width: 100px;
        }
      }
    }
  }
}
