:root, body {
    width: 100%;
    height: 100%;
    word-spacing: normal;
    color: rgb(141, 144, 149);
    font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
}

div#root {
    width: 100%;
    height: 100%;
}

.user-item {
    text-align: center;
}
.user-item a{
    color: rgb(118, 173, 44);
    display: inline-block;
    margin: 3px 0;
}
.user-item a span{
    margin-right: 3px;
}